@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_heading\.scss}line{font-family:\000031}}
#heading {
  height: 25px;
  background-color: #565655;
  padding: 4px 56px 4px 66px;
  line-height: 18px;
  letter-spacing: -0.1px;
  box-shadow: 5px 0px 0 0 rgba(0, 0, 0, 0.3) inset, -5px 0px 0 0 rgba(0, 0, 0, 0.3) inset, 10px 0px 0 0 rgba(238, 238, 238, 0.21) inset, -10px 0px 0 0 rgba(238, 238, 238, 0.21) inset;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_heading\.scss}line{font-family:\0000311}}
  #heading #site {
    position: absolute;
    left: 66px;
    top: 4px;
    color: #999999;
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 9px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_heading\.scss}line{font-family:\0000322}}
  #heading ul {
    position: absolute;
    right: 53px;
    top: 3.2px;
    height: 17px;
    width: 99px;
    background-image: url(../images/icon-separator.png);
    background-repeat: no-repeat;
    background-position-x: 29.3px;
    background-position-y: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_heading\.scss}line{font-family:\0000333}}
  #heading li.icons {
    display: inline-block;
    width: 25px;
    height: 11px;
    margin-left: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_heading\.scss}line{font-family:\0000338}}
    #heading li.icons a {
      width: 29px;
      height: inherit;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_heading\.scss}line{font-family:\0000346}}
  #heading #home {
    background-image: url(../images/home.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_heading\.scss}line{font-family:\0000349}}
  #heading #sitemap {
    background-image: url(../images/map.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_heading\.scss}line{font-family:\0000352}}
  #heading #email {
    background-image: url(../images/email.png); }

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\000031}}
#logo {
  height: 313px;
  background-color: #eeeeee;
  box-shadow: inherit;
  padding: 25px 65px 0 65px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\000036}}
  #logo .cols {
    display: inline-block;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\0000310}}
  #logo #name {
    width: 25%;
    line-height: 292px;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\0000315}}
  #logo #pic {
    width: 55%;
    float: none;
    background-image: url(../images/apple.png);
    background-position: 40% -50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\0000321}}
  #logo #nav {
    width: 20%;
    float: right; }
@font-face {
  #logo #nav {
    font-family: "Helvetica";
    src: url(fonts/Helvetica.otf); } }
@font-face {
  #logo #nav {
    font-family: "hooge 05_55 Cyr2";
    src: url(fonts/hooge05_55Cyr2.ttf); } }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\0000332}}
    #logo #nav ol {
      height: 100%;
      padding: 51% 0;
      counter-reset: point;
      background-image: url(../images/lines.png);
      background-position: 50% 48%;
      background-repeat: no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\0000339}}
      #logo #nav ol li {
        padding-left: 21px;
        text-transform: uppercase;
        font-family: "Helvetica";
        font-size: 11px;
        text-indent: -1px;
        line-height: 29px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\0000350}}
      #logo #nav ol li:before {
        content: "0" counter(point);
        counter-increment: point 1;
        position: relative;
        left: -14px;
        font-family: "hooge 05_55 Cyr2";
        font-size: 9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_logo\.scss}line{font-family:\0000363}}
.breakline {
  width: 100%;
  height: 10px;
  background-color: #d5d5d4;
  box-shadow: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\000031}}
#main_block {
  height: 342px;
  background-color: #919190;
  box-shadow: inherit;
  padding: 0 31px 0 27px;
  font-family: Tahoma;
  font-size: 11px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000310}}
  #main_block .main {
    display: inline-block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000313}}
    #main_block .main div.read-more {
      background-image: url(../images/read-more.png);
      background-repeat: no-repeat;
      float: right;
      width: 69px;
      height: 12px;
      margin-top: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000321}}
    #main_block .main h3 {
      text-transform: uppercase;
      position: absolute;
      color: #333333;
      font-size: 14px;
      font-family: Helvetica; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000332}}
  #main_block #latest_news {
    background-color: #a8a8a8;
    background-image: url(../images/news-separator.png);
    background-repeat: no-repeat;
    background-position: 62% 57%;
    height: 92%;
    width: 32.1%;
    padding: 4.2% 3% 4% 5.3%;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000341}}
    #main_block #latest_news h3 {
      margin-top: 0.6%;
      letter-spacing: -1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000344}}
      #main_block #latest_news h3 span {
        color: #91908d; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000346}}
    #main_block #latest_news h3:after {
      content: '';
      display: block;
      width: 22px;
      height: 4px;
      background-color: #99c000; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000353}}
    #main_block #latest_news h5 {
      font-size: 10px;
      letter-spacing: 0.3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000357}}
    #main_block #latest_news p {
      height: 54%;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3% 0%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000364}}
    #main_block #latest_news .articles {
      position: relative;
      top: 11%;
      padding: 11% 0% 13%;
      height: 49%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000371}}
  #main_block #welcome {
    background-color: white;
    height: 49.5%;
    width: 66.7%;
    float: right;
    padding: 3.7% 6.8% 1.5% 2.8%;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000378}}
    #main_block #welcome h2 {
      text-transform: uppercase;
      color: #99c000;
      font: bold 20px helvetica;
      height: 27%;
      line-height: 9px;
      padding: 1% 0;
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000386}}
      #main_block #welcome h2 span {
        color: #414141;
        font: 12px helvetica;
        letter-spacing: 0.2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000392}}
    #main_block #welcome p {
      margin-top: 4.5%;
      height: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\0000395}}
      #main_block #welcome p a {
        color: #99cc33; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003100}}
  #main_block #featured_what {
    background-color: #bdbdbc;
    height: 34.5%;
    width: 66.7%;
    float: right;
    margin-top: 1.5%;
    padding: 3% 7% 0% 2.7%;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003108}}
    #main_block #featured_what .bottom {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003110}}
      #main_block #featured_what .bottom h3 {
        font-weight: normal;
        font-size: 12px;
        position: absolute;
        top: 6%;
        left: 16%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003118}}
        #main_block #featured_what .bottom h3 span {
          font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003120}}
      #main_block #featured_what .bottom h3:before {
        content: '';
        display: block;
        position: absolute;
        height: 17px;
        width: 21px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-color: transparent;
        border-bottom: 4px solid #99c000; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003133}}
    #main_block #featured_what #featured {
      width: 38%;
      height: 117%;
      float: left;
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003138}}
      #main_block #featured_what #featured h3:before {
        background-image: url(../images/featured.png);
        left: -19%;
        top: -12%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003143}}
      #main_block #featured_what #featured ul {
        position: absolute;
        margin-top: 32%;
        font-size: 11px;
        line-height: 18px;
        width: 103%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003149}}
        #main_block #featured_what #featured ul li {
          list-style-image: url(../images/list-image.png);
          text-decoration: underline;
          list-style-position: inside; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003156}}
    #main_block #featured_what #whatwedo {
      width: 42%;
      height: 133%;
      float: right;
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003161}}
      #main_block #featured_what #whatwedo h3:before {
        background-image: url(../images/whatwedo.png);
        left: -33%;
        top: -18%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003166}}
      #main_block #featured_what #whatwedo p {
        position: absolute;
        margin-top: 29%;
        letter-spacing: 0.4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003170}}
        #main_block #featured_what #whatwedo p span {
          font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_main_block\.scss}line{font-family:\00003175}}
    #main_block #featured_what .read-more {
      position: absolute;
      top: 90px;
      right: 0%; }

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_footer\.scss}line{font-family:\000031}}
footer {
  box-shadow: inherit;
  background-color: #919190;
  height: 53px;
  padding: 1.87% 45.1% 0 6.6%;
  letter-spacing: 0.1px;
  white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_footer\.scss}line{font-family:\000038}}
  footer div {
    background: url(../images/icon-separator-single.png) no-repeat;
    background-position: 52% 75%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_footer\.scss}line{font-family:\0000311}}
    footer div span {
      display: inline-block;
      color: white;
      font-family: Tahoma;
      font-size: 10px;
      margin: 0 4%; }
@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/_footer\.scss}line{font-family:\0000319}}
      footer div span span {
        text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/appley\.scss}line{font-family:\000038}}
* {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/appley\.scss}line{font-family:\0000315}}
body {
  width: 780px;
  height: 750px;
  box-shadow: 5px 0px 0 0 rgba(0, 0, 0, 0.3) inset, -5px 0px 0 0 rgba(0, 0, 0, 0.3) inset; }

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/WEB\/dev\/samples\/appley\/sass\/appley\.scss}line{font-family:\0000320}}
.container {
  background-color: white;
  margin: 0 auto;
  border-top: 1px solid #565655;
  box-shadow: inherit;
  box-sizing: content-box; }

/*# sourceMappingURL=appley.css.map */
